
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}


.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  height: 235px;
  overflow: auto;
  margin-top: 20px;
}

.address__labelCheck {
  margin-right: 10px; 
}


.address__label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  border-color: rgb(36, 35, 35);
  
}

.address__inp {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.address__button {
  color: black;
  background-color: rgb(230, 171, 61);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.address__button:hover {
  background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}

.address__buttonDiv,
.label__div {
  text-align: left; 
  margin-top: 5px;
}