.checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  
  .checkout__heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .checkout__productDiv {
    flex: 1;
    margin-right: 20px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .checkout__product {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
  }
  
  .checkout__product img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .checkout__productInfo {
    flex: 1;
  }
  
  .checkout__productInfo .checkout__productTitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .checkout__productInfo .checkout__productPrice {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .checkout__productInfo .checkout__productRating {
    display: flex;
  }
  
  .checkout__productInfo .checkout__productRating .icon {
    color: #FFD700;
    margin-right: 3px;
    font-size: 18px;
  }
  
  .checkout__empty {
    text-align: center;
    margin: 20px;
  }
  
  .checkout__subtotal {
    margin-top: 20px;
    margin-left: 20px; 
    padding: 20px;
    background-color: white;
    border-radius: 4px;
  }
  