.checkoutProduct{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 100%;
    z-index: 1;
}
.checkoutProduct__details{
    flex: 1;
    height: 100px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 15px;
}
.checkoutProduct__image{
    max-height: 200px;
    margin-right: 15px;
    width: 150px;
}

.checkoutProduct__title {
    font-size: 18px; }


.product__price{
    margin-top: 5px;
    font-size: 16px;
}

.checkoutProduct__rating{
    display: flex;
    font-size: 16px;
}

.checkoutProduct__button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    margin-top: 10px;
}

