.header {
    display: flex;
    align-items: center;
    background-color: #131921;
    color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__logo{
    padding-top: 9px;
  }

  .header__part {
    margin: 0 10px;
  }
  
  .link {
    text-decoration: none;
    color: white;
  }
  
  .header__address {
    font-weight: bold;
  }
  
  .header__searchDiv {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .header__locationIcon{
    margin-top: 20px;
  }

  .header__searchBar {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: none;
    color: white;
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px;
    height: 30px;
  }

  .header__link3{
    align-items: center;
    justify-content: center;
  }
  
  .header__searchIcon {
    color: black;
    background-color: rgb(230, 171, 61);
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px;

  }
  
  .header__partLast {
    display: flex;
    margin: 0 10px;
    padding-top: 10px;
    justify-content: flex-end; 
    gap: 10px; 
  }
  
  .bold {
    font-weight: bold;
   
  }
  
  .header__cart {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  .small{
    font-size: 13px; 
  }

  
 /*@media (max-width: 768px) {
    .header {
      flex-direction: column;
    }
  
    .header__searchDiv {
      margin-top: 10px;
    }
  }
  */