.home {
    max-width: 1500px;
    justify-content: center;
    margin: 0 auto;
  }
  
  .home__banner {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    max-width: 100%; 
    max-height: 100%; 
    display: block;
    margin: 0 auto; 
    z-index: -1;
    margin-bottom: -350px;
  }

.row {
  display: flex;
  margin-left: 5px;
  margin-right: 5px; 
  z-index: 1;
}

